@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
/* Flowbite plugin */
@plugin "flowbite/plugin";

/* Opcional pero recomendado: incluir sus estilos */
@source "../../node_modules/flowbite";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-azul-oscuro: #2D4356;
    --color-fondo-tarjeta: #A67A45;
    --color-azul-boton: #44BFCD;
    --color-marron-footer: #DBBE97;
    --color-marrron-header: #F5E9D9;
}
